{% extends "base.html" %}
{% block content %}
<p>
    <h1><a href="{{ root }}/">𓃢 </a> <a href="{{ root}}/data/">data/</a>{{ title }}</h1>
</p>
<hr />

<table>
    {% for f in folders -%}
    <tr>
        <td colspan="5">📂 <a href="{{ f.path }}">{{ f.display }}/</a></td>
    </tr>
    {%- endfor %}

    {% for d in datasets -%}
    <tr>
        <td>🖫 <a href="{{ d.path }}">{{ d.display }}</a></td>
        <td class="detail-col"><a class="button" href="{{ d.path }}">DAP/2</a></td>
        <td class="detail-col"><a class="button button-outline" href="{{ d.path }}.das">DAS</a></td>
        <td class="detail-col"><a class="button button-outline" href="{{ d.path }}.dds">DDS</a></td>
        <td class="detail-col"><a class="button button-outline" href="{{ d.path }}">RAW</a></td>
    </tr>
    {%- endfor %}
</table>
{% endblock content %}

